body{
  background: #2163E8;
  padding: 0;
  margin: 0;
}
header{
  background: #03D5FF;
  padding: 70px 0;
  overflow: hidden;
}
header img{
  float: left;
  width: 10%;
  margin: 0;
}
h1{
   text-align: center;
   color: #fff;
   font-size: 50px;
}
footer{
  text-align: center;
  background: #03D5FF;
  padding: 10px;
  color: #fff;
  font-size: 20px;
}
.info {

}
div{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
aside, main {
  width: 50%;
  float: left;
}
aside img{
  display: block;
  width: 90%;
  margin: 0 auto;
}
